.page-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-8) var(--space-4);
  text-align: center;

  & h2 {
    margin-block-start: 0;
  }
}

.page-wrapper > * + * {
  margin-top: var(--space-4);
}

@media (min-width: 768px) {
  .page-wrapper {
    padding: var(--space-6);
  }
}
