.page-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px 16px;

  & h2 {
    margin-block-start: 0;
  }
}

.page-wrapper > * + * {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .page-wrapper {
    padding: 24px;
  }
}
